@font-face {
  font-family: 'VCR OSD Mono';
  src: url('vcr.ttf') format('truetype');
}

:root {
  --main-color: rgb(255 129 0);
  --main-color-rgb: 255 129 0;
  --shadow: rgb(231 117 0);
  --light-hover: rgb(156, 156, 156);
}

input[type='range'] {
  accent-color: var(--main-color);
}

body {
  align-items: flex-start;
  background-color: #0c0c0c;
  color: var(--main-color);
  display: flex;
  font-family: 'VCR OSD Mono', 'Courier New', Courier, monospace;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  text-shadow: 0 0 7px var(--shadow);
}

.container:after {
  background: linear-gradient(to bottom, transparent 20%, rgb(0 0 0 / 55%) 50%, transparent 80%);
  background-size: 100% 4px;
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.container {
  background-color: rgba(var(--main-color-rgb), 0.05);
  border: 2px solid var(--main-color);
  border-radius: 60px;
  box-shadow: 0 0 15px var(--main-color);
  margin: 20px 0;
  padding: 15px;
  width: calc(100vw - 90px);
  max-width: 880px;
}

h1,
h2 {
  font-family: 'VCR OSD Mono', 'Courier New', Courier, monospace;
  text-align: center;
}

a, a:visited {
  color: var(--main-color);
}

a:hover {
  color: var(--light-hover);
}

footer {
  text-align: center;
  margin-top: 15px;
}

input,
select,
button {
  background-color: #1a1a1a;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  cursor: pointer;
  font-family: inherit;
  font-size: large;
  margin: 5px 0;
  padding: 10px;
}

input[type=submit], button {
  background-color: var(--main-color);
  color: #0c0c0c;
  cursor: pointer;
  text-shadow: 0 0 3px #0c0c0c;
  box-shadow: 0 0 5px var(--shadow);
}

input[type=submit] {
  border-radius: 0 0 16px 16px;
  margin-top: 30px;
}

input[type=submit]:hover, button:hover {
  background-color: var(--light-hover);
}

.preview {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

video,
#previewImage {
  border: 1px solid var(--main-color);
  border-radius: 20px;
  box-sizing: border-box;
  height: 240px;
  position: relative;
  width: 288px;
  z-index: 100;
}

video {
  object-fit: contain;
}

#previewImage {
  display: none;
}

#previewImage[src] {
  display: block;
}

.stats {
  flex: 1;
  text-align: center;
}
